<?xml version="1.0"?>
<hivemq xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="hivemq-config.xsd">

    <listeners>
        <tcp-listener>
            <port>1883</port>
            <bind-address>0.0.0.0</bind-address>
        </tcp-listener>

    </listeners>
    <!--REST-API-CONFIGURATION-->
    
    <cluster>
        <enabled>true</enabled>
        <transport>
            <tcp>
                <!-- replace this IP with the IP address of your interface -->
            </tcp>
        </transport>
        <discovery>
            <broadcast>
                <!-- replace this IP with the broacast IP address of your subnet -->
            </broadcast>
        </discovery>
    </cluster>
    

    <control-center>
        <listeners>
            <http>
                <port>8080</port>
                <bind-address>0.0.0.0</bind-address>
            </http>
        </listeners>
    </control-center>
</hivemq>
